.navbar-brand {
    margin: auto calc(1.5rem + 1vw);
}

.navbar-brand > span {
    vertical-align: bottom;
    margin-left: 1rem;
    font-family: 'Knewave', cursive;
    font-size: 1.5rem;
    font-weight: lighter;
}

.logo-app {
    width: 3rem;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-collapse {
    margin-right: 3rem;
}

@media only screen and (max-width: 400px) {
    .navbar-brand > span { 
        display: none;
    }

}

@media only screen and (max-width: 900px) {
    .navbar-collapse {
        margin-right: 0;
        margin-top: 1rem;
        background-color: #083e46;
        font-size: 1.2rem;
        text-align: center;
        vertical-align: middle;
    }
}
